<nav class="nav">
  <h1 style="cursor: pointer;" onclick="window.location.href='/'">Members Only</h1>
  <div class="signin-container">
    <button class="login-btn" onclick="window.location.href='/login'">Login</button>
    <button class="register-btn" onclick="window.location.href='/register'">Register</button>
  </div>
</nav>