<nav class="nav">
  <h1 style="cursor: pointer;" onclick="window.location.href='/'">Members Only</h1>
  <%if(locals.user){ %>
  <div class="user-menu" onclick="document.querySelector('.drop-menu').style.display = document.querySelector('.drop-menu').style.display == 'none' ? 'flex' : 'none'">
    <h2><%= user.username%></h2>
    <img src="./down-arrow.svg" width="22px" height="22px">
    <div class="drop-menu">
      <button onclick="window.location.href='/new-post'">New post</button>
      <button>All users</button>
      <button onclick="window.location.href='/logout'">Logout</button>
    </div>
  </div>
  <%} else{%>
  <div class="signin-container">
    <button class="login-btn" onclick="window.location.href='/login'">Login</button>
    <button class="register-btn" onclick="window.location.href='/register'">Register</button>
  <%}%>
  </div>
</nav>