<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Members Only</title>
</head>

<body>
  <%- include("navbar") %>
  <form class="new-post-form">
    <div>
      <label for="title">Title</label><br />
      <input type="text" name="title" id="title" required><br />
    </div><br />
    <div>
      <label for="content">Content</label><br />
      <textarea rows="12" cols="34" name="content" id="content"></textarea>
    </div>
  </form>
</body>

</html>