<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Members Only</title>
</head>

<body>
  <%- include("navbar") %>
  <form class="new-post-form" method="POST">
    <div>
      <label for="title">Title</label><br />
      <input type="text" name="title" id="title" required><br />
    </div><br />
    <div>
      <label for="content">Content</label><br />
      <textarea rows="12" cols="34" name="content" id="content"></textarea>
    </div>
    <button type="submit">Submit</button>
    <% if (locals.errors) { %>
    <ul class="error-list">
      <% locals.errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %>
  </form>
</body>

</html>