* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  display: flex;
  padding: 2rem 4.5rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
}

.signin-container {
  display: flex;
  gap: 12px;
}

.login-btn,
.register-btn {
  cursor: pointer;
  padding: 12px 15px;
}

.login-form,
.register-form {
  display: flex;
  margin: auto;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  border: 2px solid lightgrey;
  width: 450px;
  border-radius: 5px;
  padding: 1.5rem 1rem 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.logging-fields-container,
.register-fields-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 2rem 0 4rem 0;
  width: 100%;
}

.logging-fields-container input,
.register-fields-container input {
  padding: 3px 5px;
}

.logging-fields-container div,
.register-fields-container div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.submit-login,
.submit-register {
  width: 100%;
  padding: 6px 8px;
  font-size: 1em;
  cursor: pointer;
}

.error-list {
  color: red;
  width: 100%;
  list-style-type: none;
}

.user-menu {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.drop-menu {
  position: absolute;
  top: 11%;
  width: 90px;
  height: 140px;
  border: 2px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.drop-menu button {
  background-color: white;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid black;
  height: 35%;
  width: 100%;
}

.drop-menu button:hover {
  background-color: lightgray;
}

.new-post-form {
  display: flex;
  justify-content: flex-start;
  gap: 1.2rem;
  padding: 2rem 1rem 2rem 1rem;
  align-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 3rem;
  max-width: 350px;
  height: fit-content;
  border: 2px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
}

.new-post-form label {
  font-size: 1.2em;
}

.new-post-form input,
.new-post-form textarea {
  width: 100%;
  border-radius: 2px;
  border: 1px solid black;
  margin-top: 5px;
}

.new-post-form button {
  font-size: 1.2em;
  margin-top: 22px;
  cursor: pointer;
  width: 100%;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.post-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  width: max(300px, 30%);
  height: fit-content;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid black;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-wrap: wrap;
}

.member {
  width: max(300px, 30%);
  height: 100px;
  margin: auto;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 7px;
}
